<div>
    {{ form_label(authorForm.fullName) }}
    {{ form_errors(authorForm.fullName) }}
    {{ form_widget(authorForm.fullName) }}

    <hr>

    {{ form_widget(authorForm.save, { 'label': 'Save author' }) }}
</div>
